@import 'styles';

.dashboard-section {
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-self: center;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	.posts-container {
		.title {
			font-weight: $font-weight-bolder;
			color: $header-font-color;
		}
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		border-radius: $border-radius;
		background-color: $white;
		@include dashboard-box-shadow();
		padding: 2rem 3rem 1rem 3rem;
	}
}
