<footer>
	<div class="container">
		<div class="d-flex justify-content-between align-items-center flex-sm-row">
			<ul class="list-unstyled list-inline footer-links mb-0">
				<li class="list-inline-item">
					<a href="javascript:void(0);" (click)="open()">Download resume</a>
				</li>
				<li class="list-inline-item">
					<a target="_blank" href="javascript:void(0);"> some link</a>
				</li>
				<li class="list-inline-item">
					<a target="_blank" href="javascript:void(0);">some another link</a>
				</li>
			</ul>
			<div class="d-flex flex-column info">
				<div>
					Powered by Someone
				</div>
				<div>
					2019
				</div>
			</div>
		</div>
	</div>
</footer>
