<script src="../custom-notification/custom-notification.component.ts"></script>
<footer class="mt-auto">
	<div class="container">
		<div class="d-flex justify-content-between align-items-center flex-sm-row">
			<ul class="list-unstyled list-inline footer-links mb-0">
				<li class="list-inline-item">
					<a target="_blank" href="https://store-cv-arkhypchuk.s3.amazonaws.com/cv/tanya_arkhypchuk_cv.pdf">
						<div class="link d-flex flex-row info align-items-center">
							<mat-icon [svgIcon]="'download'"></mat-icon>
							<div class="ml-2">Download resume</div>
						</div>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="mr-3" href="https://www.linkedin.com/in/tanya-arkhypchuk-754ba2105/" target="_blank">
						<mat-icon [svgIcon]="'linked'"></mat-icon>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="mr-3" href="https://www.linkedin.com/in/tanya-arkhypchuk-754ba2105/" target="_blank">
						<mat-icon [svgIcon]="'medium'"></mat-icon>
					</a>
				</li>
			</ul>
			<div class="d-flex flex-column info align-items-end">
				<div>
					2019 &copy; Eugene Havrylov
				</div>
			</div>
		</div>
	</div>
</footer>
