<div class="w-100 d-flex justify-content-between justify-content-start flex-column container">
	<div class="w-100 pb-6 work-container" *ngFor="let item of items" (click)="goToDetails(item)">
		<div class="ground d-flex">
			<div class="image-container mat-elevation-z10">
				<img class="h-100" [src]="item.imgUrl" [alt]="'Image of the ' + item.title + ' project'" />
			</div>
			<div class="info-container d-flex flex-column align-items-start">
				<div class="date-container">
					{{ item.date | date: 'MMMM y' }}
				</div>
				<div class="title-container">
					{{ item.title | uppercase }}
				</div>
				<div class="description-container">
					{{ item.description }}
				</div>
			</div>
		</div>
	</div>
</div>
