@import 'styles';
.reset-container {
	margin-top: 1rem;
	padding: 0 2rem 1rem;
	border-color: $border-color;
	border-width: 1px;
	border-style: solid;
	border-radius: $border-radius;
}
h3 {
	font-size: 1rem;
	font-weight: $font-weight-bold;
	padding: 0.5rem;
	font-family: $font-family;
	color: $font-color-main;
}
.reset-container > label {
	color: $font-color-main;
	font-family: $font-family;
	font-weight: $font-weight-bolder;
	position: relative;
	text-align: center;
	padding: 0.5rem;
	height: 2rem;
	line-height: 2rem;
	top: -1.5rem;
	background-color: white;
}

.form-error {
	font-family: $font-family;
	font-size: 0.75rem;
}
.float-text {
	mat-form-field {
		&.form-input {
			height: auto !important;
		}
	}
}
