@import "variables";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "mixins";
@import "~bootstrap/scss/bootstrap";
@import "bootstrap-overrides";
@import "material-overrides";

body {
	background-color: $background;
	margin: 0;
	app-root * {
		font-family: $font-family;
	}
}

.modal-bg-blur {
	@include blur();
}

.btn-clear {
	background-color: transparent;
	border-color: transparent;
	width: fit-content;
	display: flex;
	justify-content: center;
}
.btn-clear:focus {
	outline: none;
}
