/*-----------------------------------------------
                   Variables
-----------------------------------------------*/
$linesColor: #dbdbdb;
$categoryTitleColor: #686868;
$categoryEntityColor: #3F3F3F;
$danger: #eb3530;
$white: #ffffff;

$primary: #0073d0;
$primary-alpha: rgba(0,115,208, 0.54);
$primary-light: #e5f5fc;

$form-input-placeholder-color: #D3D3D3;
$form-input-border: 1px solid #ced4da;
$form-input-color: #495057;
$form-input-label-color: #79797a;
$form-focus-border-color: #2ea2f8;
$form-focus-input-color: #2ea2f8;
$header-font-color: #1f1f1f;

$font-family: 'Open Sans', serif;
$font-size-sm: .875rem;
$font-weight-normal: 300;
$font-weight-bold: 400;
$font-weight-bolder: 600;

$layout-xl-size: 1200px;
$layout-lg-size: 992px;
$layout-md-size: 768px;
$layout-sm-size: 576px;

$container-width: 1152px;
