<div class="modal-header">
	<div class="d-flex w-100 flex-column align-items-center justify-content-between">
		<h4 class="modal-title">Media Library</h4>
		<div class="modal-sub-title">Drag and drop your image to upload a new one</div>
	</div>
</div>
<div class="modal-body">
	<app-media-library-container [formControl]="selectedImage"></app-media-library-container>
</div>
<div class="modal-footer">
	<div class="d-flex w-100 justify-content-end">
		<div class="d-flex">
			<button mat-stroked-button color="warn" class="px-3" (click)="closeModal($event)">
				Cancel
			</button>
		</div>
		<div class="flex-grow-1"></div>
		<div class="d-flex">
			<button
				[disabled]="!(isSelected$ | async)"
				(click)="handleDelete()"
				mat-flat-button
				color="warn"
				class="px-3 ml-3"
			>
				Delete selected
			</button>
			<button
				[disabled]="!(isSelected$ | async)"
				(click)="handleSelect()"
				#btnRef
				mat-flat-button
				color="primary"
				class="px-3 ml-3"
			>
				Choose selected
			</button>
		</div>
	</div>
</div>
