<div class="d-flex flex-column justify-content-between">
	<div class="head-bg">
		<img src="/assets/images/top_header.png" alt="header image" />
	</div>
	<div class="middle-bg">
		<img src="/assets/images/middle_bg.png" alt="header image" />
	</div>
	<div class="container">
		<div class="title-section dashboard-section mt-2" id="top">
			<div class="short-info">
				Hi, my name is Tanya and I am a UX Designer and Researcher with customer service experience
			</div>
		</div>
		<div class="dashboard-section route-section" id="about">
			about me
		</div>
		<!--	</div>-->

		<!--	<div class="container">-->
		<div class="dashboard-section route-section" id="works">
			my works
		</div>
		<div class="dashboard-section route-section " id="contact">
			contact me
		</div>
	</div>
</div>
