<div class="d-flex flex-column justify-content-between">
	<div class="head-bg">
		<img src="./assets/images/top_header.png" alt="header image" />
	</div>
	<div class="middle-bg">
		<img src="./assets/images/middle_bg.png" alt="header image" />
	</div>
	<div class="container">
		<div class="title-section dashboard-section mt-2" id="top">
			<div class="short-info">
				Hi, my name is Tanya and I am a UX Designer and Researcher with customer service experience
			</div>
		</div>
		<div class="dashboard-section route-section" id="about">
			<h3 class="section-title">{{ 'about me' | uppercase }}</h3>
			<div class="about-content mt-4">
				I am a UX Designer and Researcher with customer service experience. My 10 years’ experience of working in the
				customer service industry has taught me that clients, as well as their needs and concerns, must always be the
				first priority. I take pride in creating design for real people in real contemporary world and my working motto
				is “The devil is in the details”. My colleagues have always pointed out that I think outside the box when it
				comes to problem-solving. I am passionate about creating unique user experience design and meticulous about
				quality. My most important principle is to create intuitive and usable design for real people in the real world.
			</div>
		</div>
		<div class="dashboard-section route-section" id="works">
			<h3 class="section-title">{{ 'my works' | uppercase }}</h3>
			<app-works></app-works>
		</div>
		<div class="dashboard-section route-section " id="contact">
			<h3 class="section-title">{{ 'contact me' | uppercase }}</h3>
			<app-contact></app-contact>
		</div>
	</div>
</div>
