@import "styles";
.container {
	position: relative;
}

.dashboard-section {
	&.title-section {
		height: 45.5rem;
		display: flex;

		align-items: flex-start;
		justify-content: flex-end;
		flex-direction: row;
		.short-info {
			font-family: $font-family;
			color: $font-color-main;
			max-width: 70%;
			margin-top: 10rem;
			font-size: 2.25rem;
		}
	}
	margin-top: 4rem;
	background-color: transparent;
}

.middle-bg {
	position: absolute;
	top: 1000px;
	//left:0;
	right:0;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: flex-end;
	img {
		display: block;
		margin-left: auto;
		object-fit: scale-down;
		object-position: 100% 0;
		z-index: -1;
	}
}

.section-title {
	font-family: $font-family;
	font-weight: $font-weight-bolder;
	font-size: 1.313rem;
	color: $header-font-color;
}

.about-content {
	font-family: $font-family;
	text-align: justify;
	font-weight: $font-weight-bold;
	font-size: 1.313rem;
	line-height: 1.688rem;
	color: $font-color-main;
}

#contact {
	margin-top: 5rem;
	margin-bottom: 12rem;
}
