@import 'styles';
.container {
	position: relative;
}

.dashboard-section {
	&.title-section {
		display: flex;
		@media (min-width: $layout-sm-size) {
			height: calc(100vh - 193px);
		}
		@media (max-width: $layout-lg-size) {
			height: fit-content;
		}
		align-items: flex-start;
		justify-content: flex-end;
		flex-direction: row;
		.short-info {
			font-family: $font-family;
			color: $font-color-main;
			width: 70%;
			margin-top: 10rem;
			@media (min-width: $layout-sm-size) {
				font-size: 2.25rem;
			}
			@media (max-width: $layout-lg-size) {
				font-size: 1.5rem;
			}
		}
	}
	margin-top: 4rem;
	margin-bottom: 4rem;
	background-color: transparent;
}

.middle-bg {
	position: absolute;
	top: 1000px;
	//left:0;
	right: 0;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: flex-end;
	img {
		display: block;
		margin-left: auto;
		object-fit: scale-down;
		object-position: 100% 0;
		z-index: -1;
	}
}

.section-title {
	font-family: $font-family;
	font-weight: $font-weight-bolder;
	font-size: 1.313rem;
	color: $header-font-color;
}

.about-content {
	font-family: $font-family;
	text-align: justify;
	font-weight: $font-weight-bold;
	font-size: 1.313rem;
	line-height: 1.688rem;
	color: $font-color-main;
}

#contact {
	margin-top: 5rem;
	margin-bottom: 12rem;
}

:host ::ng-deep {
	.ghost-block {
		opacity: 0.6 !important;
	}
}
.last-ghost {
	width: 60%;
}
