<div class="d-flex flex-column justify-content-between">
	<div class="head-bg">
		<img src="./assets/images/top_header.png" alt="header image" />
	</div>
	<div class="middle-bg">
		<img src="./assets/images/middle_bg.png" alt="header image" />
	</div>
	<div class="container">
		<div class="title-section dashboard-section" id="top">
			<div class="short-info">
				<ng-container *ngIf="user$ | async; let user; else: objectivesGhost">
					<div>{{ user.objectives }}</div>
				</ng-container>
				<ng-template #objectivesGhost>
					<div *ngFor="let i of ghostLinesObjectives; last as isLast">
						<div class="mb-3" [ngClass]="{'last-ghost': isLast}">
							<app-ghost-block [h]="3"></app-ghost-block>
						</div>
					</div>
				</ng-template>
			</div>
		</div>
		<div class="dashboard-section route-section" id="about">
			<h3 class="section-title">{{ 'about me' | uppercase }}</h3>
			<div class="about-content mt-4">
				<ng-container *ngIf="user$ | async; let user; else: bioGhost">
					<div>{{ user.bio }}</div>
				</ng-container>
				<ng-template #bioGhost>
					<div *ngFor="let i of ghostLinesAbout; last as isLast">
						<div class="mb-3" [ngClass]="{'last-ghost': isLast}">
							<app-ghost-block [h]="2"></app-ghost-block>
						</div>
					</div>
				</ng-template>
			</div>
		</div>
		<div class="dashboard-section route-section" id="works">
			<h3 class="section-title">{{ 'my works' | uppercase }}</h3>
			<app-works></app-works>
		</div>
		<div class="dashboard-section route-section " id="contact">
			<h3 class="section-title">{{ 'contact me' | uppercase }}</h3>
			<app-contact></app-contact>
		</div>
	</div>
</div>
