@import 'styles.scss';

.dismissible {
	cursor: pointer;
}

.notification-message {
	font-size: 0.875rem;
	font-weight: $font-weight-bolder;
	color: $white;
	text-align: center;
	width: 100%;
}


.close-button {
	font-size: 1.2rem;
	font-weight: $font-weight-bolder;
	color: $white;
}


