<div class="d-flex h-100 flex-column justify-content-between">
	<div #head class="head-bg">
		<img src="./assets/images/s-care-head.jpg" alt="header image" />
	</div>
	<div class="container w-100">
		<div #placeholder class="placeholder"></div>
		<app-work-info></app-work-info>
		<div class="mt-5">
			<h2>{{ 'Overview' | uppercase }}</h2>
			<div class="info">
				Senior Care Connect is an organization that gives an opportunity for families to find a qualified caregiver for
				their loved ones. One of the main goals of Senior Care Connect is to create a mobile app that will be an online
				marketplace that brings families and caregivers together and connects them in a wireless environment. Moreover,
				the app will help families reduce stress, save time and money finding care for their ageing family members.
			</div>
		</div>
		<div class="mt-5">
			<h2>{{ 'research' | uppercase }}</h2>
			<div class="info">
				Our research journey started with interviewing caregivers and families that use caregiver services. Four
				caregivers and three family members were interviewed, and we got 6 survey responses..
			</div>
		</div>
		<div class="mt-5">
			<h2>{{ 'persona' | uppercase }}</h2>
			<div class="info">
				We summarized information through our research and created two personas. We will then base our future UX designs
				for the primary needs of these two users
			</div>
		</div>
		<div class="mt-5 mb-5">
			<app-carousel></app-carousel>
		</div>
		<div class="mt-5 d-flex flex-column">
			<!--			<div class="grid-cell">-->
			<h2>{{ 'IDENTIFYING PROBLEM' | uppercase }}</h2>
			<div class="info">
				The search of a caregiver is stressful, intense, time consuming and tedious for a family. For a caregiver it is
				challenging to find a job placement that will accommodate all their professional needs
			</div>
		</div>
		<div class="mt-5 d-flex flex-column">
			<h2>{{ 'IDENTIFYING SOLUTION' | uppercase }}</h2>
			<div class="info">
				An app where families and caregivers can meet on equal conditions. This app will enable caregivers to apply for
				a job which meets their needs and expectations, while families can post their requests and actively look for a
				suitable caregiver.
			</div>
		</div>
		<div class="mt-5 d-flex flex-column">
			<h2>{{ 'FEATURE PRIORITIZATION' | uppercase }}</h2>
			<div class="info">
				Based on the client's requirements and what we found out from the research we designed mobile app, which
				consists of two parts: one part for families and the other part for caregivers.
			</div>
		</div>
		<h2 class="mt-5">{{ 'DESIGN ' | uppercase }}</h2>
		<div class="d-flex flex-column">
			<img
				style="object-fit: scale-down; object-position: 0 0; max-width: 100%; height: auto"
				src="./assets/images/s-content-1.jpg"
				alt="Senior care application design overview"
			/>
		</div>
		<div class="mt-5 grid-row">
			<div class="grid-cell">
				<img
					[src]="'./assets/images/s-care-content-1.gif'"
					alt="Senior Care. Presentation of the creating profile feature"
				/>
			</div>
			<div class="grid-cell align-self-center">
				<div class="info">
					<h3>CREATE PROFILE</h3>
					<p>
						The user can create a job post and a profile of elder ones. This information will help to find a qualified
						caregiver. Also, a user can save his job post and finish it later.
					</p>
				</div>
			</div>
		</div>
		<div class="mt-5 grid-row">
			<div class="grid-cell align-self-center">
				<div class="info">
					<h3>SEARCH FOR A CAREGIVER</h3>
					<p>
						After a job post created a costumer can search for a caregiver, use filters and pay their subscription.
						Also, they can invite a caregiver to see and apply to a job post.
					</p>
				</div>
			</div>
			<div class="grid-cell right">
				<img [src]="'./assets/images/s-care-content-2.gif'" alt="Senior Care. Presentation of the search feature" />
			</div>
		</div>

		<div class="mt-5 grid-row">
			<div class="grid-cell">
				<img
					class="left"
					[src]="'./assets/images/s-care-content-3.gif'"
					alt="Senior Care. Presentation of the messaging feature"
				/>
			</div>
			<div class="grid-cell align-self-center">
				<div class="info">
					<h3>MESSAGING</h3>
					<p>
						The user can create a job post and a profile of elder ones. This information will help to find a qualified
						caregiver. Also, a user can save his job post and finish it later.
					</p>
				</div>
			</div>
		</div>
		<div class="mt-5 mb-5 d-flex flex-row justify-content-center">
			<a
				class="btn link"
				href="https://www.figma.com/proto/c6FU9S2FWRtba2xmvSZMTY2x/Hi-Fi-V2-Prototype?node-id=1%3A956&viewport=1766%2C1031%2C0.11318626254796982&scaling=scale-down"
				target="_blank"
				>You can go through our prototype by clicking on the link: Senior Care Connect</a
			>
		</div>
	</div>
</div>
