@import 'styles';
:host {
	width: 100%;
}
.drop-zone {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 2px dashed $border-color;
	border-radius: 5px;
	background: white;
	margin-bottom: 1rem;
	padding: 0.5rem;
	width: 100%;
	font-size: 1rem;
	font-family: $font-family;
	font-weight: $font-weight-bold;
	&.hovering {
		border: 2px solid $primary;
		color: #dadada !important;
	}

	.file-label {
		font-size: 1.2em;
	}
}

:host progress::-webkit-progress-value {
	transition: width 0.1s ease;
}

:host img {
	width: 250px;
}

:host ::ng-deep {
	.mat-form-field {
		&.form-input {
			//width: 75% !important;

			height: auto;
			.mat-form-field-suffix {
				top: 0.75em;
			}
			ngx-mat-file-input {
				width: 100%;
				.filename {
					width: 100%;
					word-wrap: break-word;
				}
			}
		}
	}
}
.upload-img {
	max-width: 120px;
	max-height: 120px;
}
.done-container {
	height: 144px;
}

.actions-container {
	//width: 75% !important;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 1rem auto;
	//transition: all 500ms ease-in-out;
	button {
		margin-right: 1rem;
		margin-left: 1rem;
	}
}

svg {
	height: 70%;
	display: block;
	margin: 1rem auto;
}

.path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	&.circle {
		-webkit-animation: dash 1.2s ease-in-out;
		animation: dash 1.2s ease-in-out;
	}
	&.check {
		stroke-dashoffset: -100;
		-webkit-animation: dash-check 1.2s 0.55s ease-in-out forwards;
		animation: dash-check 1.2s 0.55s ease-in-out forwards;
	}
}

.user-avatar {
	display: inline-block;
	position: relative;
	cursor: pointer;
	height: 144px;

	.user-profile-picture {
		border-radius: 50%;
		width: 8.5rem;
		height: 8.5rem;
		.img-avatar {
			@include blur(0.1rem);
			border-radius: 50%;
			width: 100%;
			height: 100%;
			object-position: 100% 0;
			object-fit: cover;
		}
		//.img-avatar {
		//	width: auto;
		//	max-height: 168px;
		//	border-radius: 50%;
		//	display: block;
		//	margin-left: auto;
		//	object-fit: scale-down;
		//	object-position: 100% 0;
		//	vertical-align: middle;
		//}

		// Mobile only
		@media (max-width: $layout-sm-size) {
			width: 6.5rem;
			height: 6.5rem;
		}
	}
}

@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}

@keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}
