<div class="reset-container">
	<label>Set new email</label>
	<div class="col-9 d-flex px-0 flex-column justify-content-around align-items-start">
		<mat-form-field class="form-input">
			<input
				matInput
				required
				placeholder="Email"
				type="email"
				id="user-email"
				name="email"
				[formControl]="emailControl"
			/>
		</mat-form-field>
		<div *ngIf="emailControl.touched && emailControl.hasError('required')" class="text-danger form-error">
			{{ 'Email is required' }}
		</div>
		<div *ngIf="emailControl.touched && emailControl.hasError('validateEmail')" class="text-danger form-error">
			{{ 'Email is invalid' }}
		</div>
	</div>
	<div class="mt-3 d-flex flex-row align-items-center justify-content-between">
		<div class="info">* This action requires to sign in again</div>
		<div class="ml-3 align-self-center">
			<button
				[disabled]="isDisabled.asObservable() | async"
				mat-flat-button
				color="primary"
				class="px-3"
				(click)="onUpdateEmail($event)"
			>
				{{ 'Update' }}
			</button>
		</div>
	</div>
</div>
