<div class="reset-container">
	<label>User info</label>
	<form [formGroup]="userForm" class="mt-3">
		<div class="d-flex flex-column justify-content-around align-items-start form-group">
			<mat-form-field class="form-input">
				<input
					matInput
					placeholder="Full name"
					required
					type="text"
					id="user-displayName"
					formControlName="displayName"
				/>
			</mat-form-field>
			<div
				*ngIf="userForm.get('displayName').touched && userForm.get('displayName').hasError('required')"
				class="text-danger form-error"
			>
				{{ 'Display name is required' }}
			</div>
			<div
				*ngIf="userForm.get('displayName').touched && userForm.get('displayName').hasError('pattern')"
				class="text-danger form-error"
			>
				{{ 'Display name is invalid' }}
			</div>
		</div>
		<mat-divider></mat-divider>
		<h3>Contact info</h3>
		<div class="mt-3 d-flex flex-row justify-content-end align-items-center">
			<button mat-flat-button color="primary" class="px-3" (click)="handleSave($event)">
				{{ 'Save' }}
			</button>
		</div>
	</form>
</div>
