<div class="reset-container">
	<label>Set new password</label>
	<form [formGroup]="passwordForm">
		<div class="col-9 px-0 d-flex flex-column justify-content-around align-items-start form-group">
			<mat-form-field
				class="form-input"
				#popOver="ngbPopover"
				triggers="manual"
				placement="top"
				[ngbPopover]="'Caps Lock is On'"
			>
				<div class="d-flex" appCapsDetector (state)="handleCapsLockState($event)">
					<input
						matInput
						(focus)="handleFocusOnPassword(true)"
						(blur)="handleFocusOnPassword(false)"
						formControlName="password"
						name="password"
						autocomplete="new-password"
						id="user-password"
						[type]="visiblePassword ? 'text' : 'password'"
						placeholder="New password"
					/>
					<button
						*ngIf="passwordForm.get('password').value"
						mat-icon-button
						(click)="togglePasswordVisibility($event)"
						class="btn-clear"
					>
						<mat-icon class="btn-clear-icon" [svgIcon]="visiblePassword ? 'hide' : 'show'"></mat-icon>
					</button>
				</div>
			</mat-form-field>
			<div
				*ngIf="passwordForm.get('password').touched && passwordForm.get('password').hasError('required')"
				class="text-danger form-error"
			>
				Enter new password if you want to update it
			</div>

			<div
				*ngIf="passwordForm.get('password').touched && passwordForm.get('password').hasError('minlength')"
				class="text-danger form-error"
			>
				Password must be at least 8 characters
			</div>
		</div>

		<div class="col-9 px-0 d-flex flex-column justify-content-around align-items-start form-group">
			<mat-form-field class="form-input">
				<input
					matInput
					[errorStateMatcher]="matcher"
					formControlName="passwordConfirm"
					id="user-passwordConfirm"
					[type]="visiblePassword ? 'text' : 'password'"
					placeholder="Repeat password"
				/>
			</mat-form-field>
			<div
				*ngIf="passwordForm.get('passwordConfirm').touched && passwordForm.hasError('match')"
				class="text-danger form-error"
			>
				Your password and confirmation password do not match.
			</div>
		</div>
		<div class="mt-3 d-flex flex-row align-items-center justify-content-between">
			<div class="info">* This action requires to sign in again</div>
			<div class="ml-3 align-self-center">
				<button
					[disabled]="isDisabled.asObservable() | async"
					mat-flat-button
					color="primary"
					class="px-3"
					(click)="onUpdatePassword($event)"
				>
					{{ 'Update' }}
				</button>
			</div>
		</div>
	</form>
</div>
