@import 'profile-container';
.reset-container {
	.btn-clear {
		&.mat-icon-button {
			width: fit-content !important;
			height: fit-content !important;
			line-height: 1.5rem !important;
		}
	}

	.btn-clear-icon {
		display: block;
		font-size: 1rem;
	}
}
