<div class="w-100 d-flex justify-content-between justify-content-start flex-column container">
	<div class="w-100 pb-6 work-container" *ngFor="let item of items">
		<div class="ground d-flex" [routerLink]="item.url">
			<div class="image-container mat-elevation-z10">
				<img class="h-100" [src]="item.imgUrl" [alt]="'Image of the ' + item.title + ' project'" />
			</div>
			<div class="info-container d-flex flex-column align-items-start">
				<div class="date-container">
					{{ item.date | date: 'MMMM y' }}
				</div>
				<div class="title-container">
					{{ item.title | uppercase }}
				</div>
				<div class="description-container">
					{{ item.description }}
				</div>
				<div class="btn-container">
					<button class="btn-clear rounded-btn mt-3" mat-button disableRipple (click)="goTo(item.url)">
						<div class="d-flex justify-content-between w-100 align-items-center">
							<span class="mr-3">{{ 'Read more' }}</span>
							<mat-icon svgIcon="arrow_forward"></mat-icon>
						</div>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
