@import 'styles';
@import 'profile-container';
.no-outline {
	outline: 0;
}
.post-wrapper {
	//max-height: 70vh;
	//overflow: auto;
	.toolbar {
		//position: relative;
		background-color: $white;
		position: sticky;
		position: -webkit-sticky; /* For macOS/iOS Safari */
		top: 0; /* Sets the sticky toolbar to be on top */
		z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
	}
}
