<div class="modal-header">
	<h4 class="modal-title">New password</h4>
</div>

<form [formGroup]="resetForm">
	<div class="modal-body">
		<div class="row form-group">
			<div class="col-12">
				<mat-form-field
					class="form-input"
					#popOver="ngbPopover"
					triggers="manual"
					placement="top"
					[ngbPopover]="'Caps Lock is On'"
				>
					<div class="d-flex" appCapsDetector (state)="handleCapsLockState($event)">
						<input
							matInput
							(focus)="handleFocusOnPassword(true)"
							(blur)="handleFocusOnPassword(false)"
							formControlName="password"
							required
							name="password"
							autocomplete="new-password"
							id="user-password"
							[type]="visiblePassword ? 'text' : 'password'"
							placeholder="Password"
						/>
						<button
							*ngIf="resetForm.get('password').value"
							mat-icon-button
							(click)="togglePasswordVisibility($event)"
							class="btn-clear"
						>
							<mat-icon class="btn-clear-icon" [svgIcon]="visiblePassword ? 'hide' : 'show'"></mat-icon>
						</button>
					</div>
				</mat-form-field>
				<div
					*ngIf="resetForm.get('password').touched && resetForm.get('password').hasError('required')"
					class="text-danger form-error"
				>
					Password is required
				</div>

				<div
					*ngIf="resetForm.get('password').touched && resetForm.get('password').hasError('minlength')"
					class="text-danger form-error"
				>
					Password must be at least 8 characters
				</div>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-12">
				<mat-form-field class="form-input">
					<input
						matInput
						[errorStateMatcher]="matcher"
						formControlName="passwordConfirm"
						required
						id="user-passwordConfirm"
						[type]="visiblePassword ? 'text' : 'password'"
						placeholder="Repeat password"
					/>
				</mat-form-field>
				<div
					*ngIf="resetForm.get('passwordConfirm').touched && resetForm.hasError('match')"
					class="text-danger form-error"
				>
					Your password and confirmation password do not match.
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button mat-stroked-button color="warn" class="btn px-3" (click)="closeModal($event)">
			Cancel
		</button>
		<button (click)="handleReset($event)" #btnRef mat-flat-button color="primary" class="btn px-3">
			Confirm
		</button>
	</div>
</form>
