@import "styles";
:host .modal-footer {
	justify-content: space-around;
	button {
		width: 100%;
	}
}

.modal-title {
	font-size: 1.75rem;
	text-align: center;
	width: 100%;
}

:host .btn-clear {
	&.mat-icon-button {
		width: fit-content !important;
		height: fit-content !important;
		line-height: 1.5rem !important;
	}
}

.btn-clear-icon {
	display: block;
	font-size: 1rem;
}

.modal-body {
	font-size: 0.875rem;
	font-weight: normal;
	a {
		font-size: 0.675rem;
		font-family: $font-family;
		color: $font-color-main;
		cursor: pointer;
		:hover {
			color: $header-font-color;
		}
	}
}

.btn {
	font-weight: normal;
	font-size: 0.875rem;
}

.form-error {
	font-family: $font-family;
	font-size: 0.75rem;
}
