<div
	class="dashboard-wrapper d-flex flex-column h-100 align-items-center"
	appScrollSpy
	[navBarMode]="navBarMode | async"
	[class.sticky-nav]="isStickied | async"
>
	<div class="align-self-stretch flex-grow-1">
		<app-header [isStickied]="isStickied | async"></app-header>
		<div class="container no-pad mh-100">
			<app-navigation-links *ngIf="(isStickied | async) === false" navMode="nav"></app-navigation-links>
		</div>

		<div>
			<router-outlet></router-outlet>
		</div>
	</div>
	<div class="align-self-stretch">
		<app-footer></app-footer>
	</div>
</div>
