@import "styles";

.dashboard-wrapper {
	&.sticky-nav {
		.container {
			padding-top: 9rem;

			@media (max-width: $layout-lg-size) {
				padding-top: 6rem;
			}
		}
	}

	.container {
		position: relative;
		padding-top: 6rem;
		padding-bottom: 3rem;
		z-index: 10;
	}
}
